<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <a class="top-left" href="/">Home</a>
    <a class="top-right" href="/about">About</a>
    <a class="bottom-left" href="/works">Works</a>
    <a class="bottom-right" href="/gallery">Gallery</a>
    <div>
        <h1>About</h1>
        <div id="about-text-container">
            <p>Trevor Paglen, a renowned artist, writer, and researcher, explores the intersections of art, science, and technology through thought-provoking projects. His work encompasses photography, sculpture, and video, focusing on themes of surveillance, privacy, and the mechanisms of power. Drawing on a background in geography and a fascination with covert operations, Paglen unveils the unseen, documenting top-secret military bases and the global infrastructure of data collection. His visually striking creations challenge viewers to question the complex relationships between technology, politics, and human experience. Paglen is also an accomplished writer, delving into the social and political implications of surveillance and digital technologies. His work has been exhibited worldwide, including at the Tate Modern, MoMA, and the Smithsonian. Trevor Paglen continues to push the boundaries of art, reshaping our perceptions of power and the hidden forces shaping our society.
            </p>
        </div>
    </div>
</body>
</html>