<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <a class="top-left" href="/">Home</a>
    <a class="top-right" href="/about">About</a>
    <a class="bottom-left" href="/works">Works</a>
    <a class="bottom-right" href="/gallery">Gallery</a>
    <div>
        <h1>Gallery</h1>
        <div id="image-container">
            <img class="images" src="images/laura.png" alt="Laura">
            <img class="images" src="images/cloud-3.png" alt="Laura">
            <img class="images" src="images/cloud-2.png" alt="Laura">
            <img class="images" src="images/cloud-1.png" alt="Laura">
            <img class="images" src="images/bloom.png" alt="Laura">
            <img class="images" src="images/autonomy-cube.png" alt="Laura">
        </div>
    </div>
</body>
</html>