<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <a class="top-left" href="/">Home</a>
    <a class="top-right" href="/about">About</a>
    <a class="bottom-left" href="/works">Works</a>
    <a class="bottom-right" href="/gallery">Gallery</a>
    <div>
        <h1>Trevor Paglen</h1>
        <div id="home-image-container">
            <img src="/images/home.png" alt="Trevor Paglen">
        </div>
    </div>
</body>
</html>