<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Works</title>
    <link rel="stylesheet" href="/styles/styles.css">
</head>
<body>
    <a class="top-left" href="/">Home</a>
    <a class="top-right" href="/about">About</a>
    <a class="bottom-left" href="/works">Works</a>
    <a class="bottom-right" href="/gallery">Gallery</a>
    <div>
        <h1>Selected Works</h1>
        <div id="works-text-container">
            <p>The Last Pictures (2012): In this project, Paglen collaborated with scientists, artists, and engineers to develop a collection of images to be launched into space aboard a satellite. These images were chosen to represent various aspects of human civilization and culture.</p>
            <hr>
            
            <p>CIA Rendition Flights (2007): Through meticulous research and tracking, Paglen exposed the clandestine activities of the Central Intelligence Agency (CIA) by photographing and documenting the aircraft used in extraordinary renditions, where suspected terrorists were secretly transported to undisclosed locations for interrogation.</p>
            <hr>
            
            <p>Limit Telephotography (2005-present): Using powerful telephoto lenses, Paglen captures images of classified military installations, surveillance structures, and other hidden sites from long distances. This ongoing project aims to reveal the hidden infrastructures that operate within the landscape.</p>
            <hr>
            
            <p>Code Names (2014): In this series, Paglen explores the classified code names given to military and intelligence operations. Through his photographs, he investigates the language and terminology used by governmental entities, shedding light on the secrecy and power dynamics embedded in these covert operations.</p>
            <hr>
            
            <p>They Watch the Moon (2010): Paglen collaborated with amateur astronomers to track and photograph classified satellites in orbit. By revealing these normally hidden objects, he draws attention to the militarization of space and surveillance systems.</p>
            <hr>
            
            <p>Autonomy Cube (2015): Paglen collaborated with computer scientists to create a Wi-Fi router embedded within a translucent cube. This artwork addresses issues of surveillance and privacy, inviting viewers to reflect on the control and manipulation of data in our interconnected world.</p>
        </div>
    </div>
</body>
</html>